<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--PRODUCCION-->
    <!--<add name="CallCenterConnectionString" connectionString="Data Source=SERVER8;Database=WebVisita;User ID=sa; password =vv2832f1" providerName="System.Data.SqlClient" />-->
    <!--**************-->

    <!--DESARROLLO CASA-->
    <add name="CallCenterConnectionString" connectionString="Data Source=DESKTOP-6SALJFB\SQLEXPRESS;Database=WebVisita;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--**************-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!--PRODUCCION-->
    <!--<add key="connectionString" value="Data Source=SERVER8;Database=WebVisita;User ID=sa; password =vv2832f1" />-->
    <!--DESARROLLO CASA-->
    <add key="connectionString" value="Data Source=DESKTOP-6SALJFB\SQLEXPRESS;Database=WebVisita;Integrated Security=True" />
    <!--**************-->
  </appSettings>
</configuration>

